### Arquivos de compilação ###
*.class
*.jar
*.war

### Pastas de build ###
bin/
out/
target/

### Configurações de IDEs ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

### Arquivos do sistema ###
.DS_Store
Thumbs.db